---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/section/Hero.astro';
import Brands from '../components/section/Brands.astro';
---

<Layout title="Welcome to Agency X">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero />
		<Brands />
	</main>
</Layout>
